<!-- modal -->
<div class="modal fade" tabindex="-1" id="modal-change-object-dialog" aria-labelledby="modal-change-object-dialog-label" aria-hidden="true" role="dialog">
     <div class="modal-dialog modal-xl modal-dialog-centered" >
         <div class="modal-content">
            <div class="modal-header" >
              <h4 class="modal-title">{{labels.dialogChangeObject.title}}</h4>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true" style="color:aliceblue;">×</span>
               </button>
            </div>
     <div class="modal-body">


<div id="modal-change-object-dialog-tabs">
  <ul>
    <li><a href="#tabs-1">{{labels.dialogChangeObject.tab1}}</a></li>
    <li><a href="#tabs-2">{{labels.dialogChangeObject.tab2}}</a></li>
    <li><a href="#tabs-3">{{labels.dialogChangeObject.tab3}}</a></li>
    <li><a href="#tabs-4">{{labels.dialogChangeObject.tab4}}</a></li>
    <li><a href="#tabs-5">{{labels.dialogChangeObject.tab5}}</a></li>
    <li><a href="#tabs-6">{{labels.dialogChangeObject.tab6}}</a></li>
  </ul>
  <div id="tabs-1">
      	   <div class="card">
             <div class="card-body">
		{{>dialog.ChangeObjectTab1}}
             </div>       
	 </div>
  </div>
  <div id="tabs-2">
    <div class="card">
                <div class="card-body">

	       </div>
	    </div>
  </div>
  <div id="tabs-3">
    <div class="card">
                <div class="card-body">
			{{>dialog.ChangeObjectTab3}}
	       </div>
      </div>
  </div>
  <div id="tabs-4">
    <div class="card">
                <div class="card-body">

	       </div>
	    </div>
  </div>
  <div id="tabs-5">
    <div class="card">
                <div class="card-body">

	       </div>
	    </div>
  </div>
  <div id="tabs-6">
    <div class="card">
                <div class="card-body">

	       </div>
	    </div>
  </div>

</div>


  </div>
      <div class="modal-footer">
             <button type="button" class="btn btn-primary" id="change-object-name-btn-click" >{{labels.dialogChangeObject.change-object-btn-click}}</button>
             <button type="button" class="btn btn-default" id="change-object-close-btn-click" data-dismiss="modal">{{labels.dialogChangeObject.change-object-close-btn-click}}</button>
          </div>
       </div>
       <!-- /.modal-content -->
    </div>
  <!-- /.modal-dialog -->
</div>
