<div class="row">
  <div class="col-sm">
         <div class="row">
	     <div class="col-sm">
	            <div class="input-group mb-3">
			<label for="fio" class="col-form-label font-weight-normal w-100 font-weight-bold">{{labels.dialogChangeObjectTab2.WorkTime}}</label></br>
  	            </div>		
              </div>		               
         </div>

			         <div class="row">
				     <div class="col-sm">
				         <div class="row-work-time monday" style="margin-bottom: 0.2rem!important;">
					    <div style="margin-bottom: 0.2rem!important; margin-bottom: 1rem;">
				              <div class="row">
						<div class="col-sm">
						      <label for="{{labels.DayOfWeek.Monday}}" class="col-form-label font-weight-normal">{{labels.DayOfWeek.Monday}}</label>
						</div>
						<div class="col-sm">	
						       <a class="btn btn-app object-worktime-add-btn" dayOfWeek="{{labels.DayOfWeekEng.Monday}}" serviceTime="work"  
							data-toggle="tooltip" data-placement="top" title="" data-original-title="Добавить период">+</a>
						</div>
					      </div>	
                                             </div>    
					    <div class="servicetime-poligon w-100" dayOfWeek="{{labels.DayOfWeekEng.Monday}}" serviceTime="work"></div>		
			  	         </div>		
			              </div>		               
			         </div>


			         <div class="row">
				     <div class="col-sm">
				         <div class="row-work-time monday" style="margin-bottom: 0.2rem!important;">
					    <div style="margin-bottom: 0.2rem!important; margin-bottom: 1rem;">
				              <div class="row">
						<div class="col-sm">
						      <label for="{{labels.DayOfWeek.Tuesday}}" class="col-form-label font-weight-normal">{{labels.DayOfWeek.Tuesday}}</label>
						</div>
						<div class="col-sm">	
						       <a class="btn btn-app object-worktime-add-btn" dayOfWeek="{{labels.DayOfWeekEng.Tuesday}}" serviceTime="work"  
							data-toggle="tooltip" data-placement="top" title="" data-original-title="Добавить период">+</a>
						</div>
					      </div>	
                                             </div>    
					    <div class="servicetime-poligon w-100" dayOfWeek="{{labels.DayOfWeekEng.Tuesday}}" serviceTime="work"></div>		
			  	         </div>		
			              </div>		               
			         </div>

			         <div class="row">
				     <div class="col-sm">
				         <div class="row-work-time monday" style="margin-bottom: 0.2rem!important;">
					    <div style="margin-bottom: 0.2rem!important; margin-bottom: 1rem;">
				              <div class="row">
						<div class="col-sm">
						      <label for="{{labels.DayOfWeek.Wednesday}}" class="col-form-label font-weight-normal">{{labels.DayOfWeek.Wednesday}}</label>
						</div>
						<div class="col-sm">	
						       <a class="btn btn-app object-worktime-add-btn" dayOfWeek="{{labels.DayOfWeekEng.Wednesday}}" serviceTime="work"  
							data-toggle="tooltip" data-placement="top" title="" data-original-title="Добавить период">+</a>
						</div>
					      </div>	
                                             </div>    
					    <div class="servicetime-poligon w-100" dayOfWeek="{{labels.DayOfWeekEng.Wednesday}}" serviceTime="work"></div>		
			  	         </div>		
			              </div>		               
			         </div>

			         <div class="row">
				     <div class="col-sm">
				         <div class="row-work-time monday" style="margin-bottom: 0.2rem!important;">
					    <div style="margin-bottom: 0.2rem!important; margin-bottom: 1rem;">
				              <div class="row">
						<div class="col-sm">
						      <label for="{{labels.DayOfWeek.Thursday}}" class="col-form-label font-weight-normal">{{labels.DayOfWeek.Thursday}}</label>
						</div>
						<div class="col-sm">	
						       <a class="btn btn-app object-worktime-add-btn" dayOfWeek="{{labels.DayOfWeekEng.Thursday}}" serviceTime="work"  
							data-toggle="tooltip" data-placement="top" title="" data-original-title="Добавить период">+</a>
						</div>
					      </div>	
                                             </div>    
					    <div class="servicetime-poligon w-100" dayOfWeek="{{labels.DayOfWeekEng.Thursday}}" serviceTime="work"></div>		
			  	         </div>		
			              </div>		               
			         </div>

			         <div class="row">
				     <div class="col-sm">
				         <div class="row-work-time monday" style="margin-bottom: 0.2rem!important;">
					    <div style="margin-bottom: 0.2rem!important; margin-bottom: 1rem;">
				              <div class="row">
						<div class="col-sm">
						      <label for="{{labels.DayOfWeek.Friday}}" class="col-form-label font-weight-normal">{{labels.DayOfWeek.Friday}}</label>
						</div>
						<div class="col-sm">	
						       <a class="btn btn-app object-worktime-add-btn" dayOfWeek="{{labels.DayOfWeekEng.Friday}}" serviceTime="work"  
							data-toggle="tooltip" data-placement="top" title="" data-original-title="Добавить период">+</a>
						</div>
					      </div>	
                                             </div>    
					    <div class="servicetime-poligon w-100" dayOfWeek="{{labels.DayOfWeekEng.Friday}}" serviceTime="work"></div>		
			  	         </div>		
			              </div>		               
			         </div>

			         <div class="row">
				     <div class="col-sm">
				         <div class="row-work-time monday" style="margin-bottom: 0.2rem!important;">
					    <div style="margin-bottom: 0.2rem!important; margin-bottom: 1rem;">
				              <div class="row">
						<div class="col-sm">
						      <label for="{{labels.DayOfWeek.Saturday}}" class="col-form-label font-weight-normal">{{labels.DayOfWeek.Saturday}}</label>
						</div>
						<div class="col-sm">	
						       <a class="btn btn-app object-worktime-add-btn" dayOfWeek="{{labels.DayOfWeekEng.Saturday}}" serviceTime="work"  
							data-toggle="tooltip" data-placement="top" title="" data-original-title="Добавить период">+</a>
						</div>
					      </div>	
                                             </div>    
					    <div class="servicetime-poligon w-100" dayOfWeek="{{labels.DayOfWeekEng.Saturday}}" serviceTime="work"></div>		
			  	         </div>		
			              </div>		               
			         </div>


			         <div class="row">
				     <div class="col-sm">
				         <div class="row-work-time monday" style="margin-bottom: 0.2rem!important;">
					    <div style="margin-bottom: 0.2rem!important; margin-bottom: 1rem;">
				              <div class="row">
						<div class="col-sm">
						      <label for="{{labels.DayOfWeek.Sunday}}" class="col-form-label font-weight-normal">{{labels.DayOfWeek.Sunday}}</label>
						</div>
						<div class="col-sm">	
						       <a class="btn btn-app object-worktime-add-btn" dayOfWeek="{{labels.DayOfWeekEng.Sunday}}" serviceTime="work"  
							data-toggle="tooltip" data-placement="top" title="" data-original-title="Добавить период">+</a>
						</div>
					      </div>	
                                             </div>    
					    <div class="servicetime-poligon w-100" dayOfWeek="{{labels.DayOfWeekEng.Sunday}}" serviceTime="work"></div>		
			  	         </div>		
			              </div>		               
			         </div>

  </div>
  <div class="col-sm">
         <div class="row">
	     <div class="col-sm">
	            <div class="input-group mb-3 ">
			<label for="fio" class="col-form-label font-weight-normal w-100 font-weight-bold">{{labels.dialogChangeObjectTab2.ServiceTime}}</label></br>
  	            </div>		
              </div>		               
         </div>
			         <div class="row">
				     <div class="col-sm">
				         <div class="row-work-time monday" style="margin-bottom: 0.2rem!important;">
					    <div style="margin-bottom: 0.2rem!important; margin-bottom: 1rem;">
				              <div class="row">
						<div class="col-sm">
						      <label for="{{labels.DayOfWeek.Monday}}" class="col-form-label font-weight-normal">{{labels.DayOfWeek.Monday}}</label>
						</div>
						<div class="col-sm">	
						       <a class="btn btn-app object-servicetime-add-btn" dayOfWeek="{{labels.DayOfWeekEng.Monday}}" serviceTime="service"  
							data-toggle="tooltip" data-placement="top" title="" data-original-title="Добавить период">+</a>
						</div>
					      </div>	
                                             </div>    
					    <div class="servicetime-poligon w-100" dayOfWeek="{{labels.DayOfWeekEng.Monday}}" serviceTime="service"></div>		
			  	         </div>		
			              </div>		               
			         </div>


			         <div class="row">
				     <div class="col-sm">
				         <div class="row-work-time monday" style="margin-bottom: 0.2rem!important;">
					    <div style="margin-bottom: 0.2rem!important; margin-bottom: 1rem;">
				              <div class="row">
						<div class="col-sm">
						      <label for="{{labels.DayOfWeek.Tuesday}}" class="col-form-label font-weight-normal">{{labels.DayOfWeek.Tuesday}}</label>
						</div>
						<div class="col-sm">	
						       <a class="btn btn-app object-servicetime-add-btn" dayOfWeek="{{labels.DayOfWeekEng.Tuesday}}" serviceTime="service"  
							data-toggle="tooltip" data-placement="top" title="" data-original-title="Добавить период">+</a>
						</div>
					      </div>	
                                             </div>    
					    <div class="servicetime-poligon w-100" dayOfWeek="{{labels.DayOfWeekEng.Tuesday}}" serviceTime="service"></div>		
			  	         </div>		
			              </div>		               
			         </div>

			         <div class="row">
				     <div class="col-sm">
				         <div class="row-work-time monday" style="margin-bottom: 0.2rem!important;">
					    <div style="margin-bottom: 0.2rem!important; margin-bottom: 1rem;">
				              <div class="row">
						<div class="col-sm">
						      <label for="{{labels.DayOfWeek.Wednesday}}" class="col-form-label font-weight-normal">{{labels.DayOfWeek.Wednesday}}</label>
						</div>
						<div class="col-sm">	
						       <a class="btn btn-app object-servicetime-add-btn" dayOfWeek="{{labels.DayOfWeekEng.Wednesday}}" serviceTime="service"  
							data-toggle="tooltip" data-placement="top" title="" data-original-title="Добавить период">+</a>
						</div>
					      </div>	
                                             </div>    
					    <div class="servicetime-poligon w-100" dayOfWeek="{{labels.DayOfWeekEng.Wednesday}}" serviceTime="service"></div>		
			  	         </div>		
			              </div>		               
			         </div>

			         <div class="row">
				     <div class="col-sm">
				         <div class="row-work-time monday" style="margin-bottom: 0.2rem!important;">
					    <div style="margin-bottom: 0.2rem!important; margin-bottom: 1rem;">
				              <div class="row">
						<div class="col-sm">
						      <label for="{{labels.DayOfWeek.Thursday}}" class="col-form-label font-weight-normal">{{labels.DayOfWeek.Thursday}}</label>
						</div>
						<div class="col-sm">	
						       <a class="btn btn-app object-servicetime-add-btn" dayOfWeek="{{labels.DayOfWeekEng.Thursday}}" serviceTime="service"  
							data-toggle="tooltip" data-placement="top" title="" data-original-title="Добавить период">+</a>
						</div>
					      </div>	
                                             </div>    
					    <div class="servicetime-poligon w-100" dayOfWeek="{{labels.DayOfWeekEng.Thursday}}" serviceTime="service"></div>		
			  	         </div>		
			              </div>		               
			         </div>

			         <div class="row">
				     <div class="col-sm">
				         <div class="row-work-time monday" style="margin-bottom: 0.2rem!important;">
					    <div style="margin-bottom: 0.2rem!important; margin-bottom: 1rem;">
				              <div class="row">
						<div class="col-sm">
						      <label for="{{labels.DayOfWeek.Friday}}" class="col-form-label font-weight-normal">{{labels.DayOfWeek.Friday}}</label>
						</div>
						<div class="col-sm">	
						       <a class="btn btn-app object-servicetime-add-btn" dayOfWeek="{{labels.DayOfWeekEng.Friday}}" serviceTime="service"  
							data-toggle="tooltip" data-placement="top" title="" data-original-title="Добавить период">+</a>
						</div>
					      </div>	
                                             </div>    
					    <div class="servicetime-poligon w-100" dayOfWeek="{{labels.DayOfWeekEng.Friday}}" serviceTime="service"></div>		
			  	         </div>		
			              </div>		               
			         </div>

			         <div class="row">
				     <div class="col-sm">
				         <div class="row-work-time monday" style="margin-bottom: 0.2rem!important;">
					    <div style="margin-bottom: 0.2rem!important; margin-bottom: 1rem;">
				              <div class="row">
						<div class="col-sm">
						      <label for="{{labels.DayOfWeek.Saturday}}" class="col-form-label font-weight-normal">{{labels.DayOfWeek.Saturday}}</label>
						</div>
						<div class="col-sm">	
						       <a class="btn btn-app object-servicetime-add-btn" dayOfWeek="{{labels.DayOfWeekEng.Saturday}}" serviceTime="service"  
							data-toggle="tooltip" data-placement="top" title="" data-original-title="Добавить период">+</a>
						</div>
					      </div>	
                                             </div>    
					    <div class="servicetime-poligon w-100" dayOfWeek="{{labels.DayOfWeekEng.Saturday}}" serviceTime="service"></div>		
			  	         </div>		
			              </div>		               
			         </div>


			         <div class="row">
				     <div class="col-sm">
				         <div class="row-work-time monday" style="margin-bottom: 0.2rem!important;">
					    <div style="margin-bottom: 0.2rem!important; margin-bottom: 1rem;">
				              <div class="row">
						<div class="col-sm">
						      <label for="{{labels.DayOfWeek.Sunday}}" class="col-form-label font-weight-normal">{{labels.DayOfWeek.Sunday}}</label>
						</div>
						<div class="col-sm">	
						       <a class="btn btn-app object-servicetime-add-btn" dayOfWeek="{{labels.DayOfWeekEng.Sunday}}" serviceTime="service"  
							data-toggle="tooltip" data-placement="top" title="" data-original-title="Добавить период">+</a>
						</div>
					      </div>	
                                             </div>    
					    <div class="servicetime-poligon w-100" dayOfWeek="{{labels.DayOfWeekEng.Sunday}}" serviceTime="service"></div>		
			  	         </div>		
			              </div>		               
			         </div>
    </div>
 </div>

  <hr>
	<div class="callout callout-info">
		{{labels.dialogChangeObjectTab1.object_work_time_description}}</br></br>
		{{labels.dialogChangeObjectTab1.object_service_time_description}}
		<small>{{labels.dialogChangeObjectTab1.object_address_reseach_blocked_title}}</small>
	</div>
