  <div class="row">
  <div class="col-auto w-100">
       <div class="row">
		   <div class="col-sm-4 text-left"  style="padding-top: 0.3rem;"><label for="fio" class="col-form-label font-weight-normal w-100 ">{{labels.dialogChangeObjectTab1.id}}</label></div>
		   <div class="col-sm">
		        <div class="input-group mb-3" style="margin-bottom:0.5rem!important;">
                 <div class="input-group-prepend"><span class="input-group-text" data-toggle="tooltip" data-placement="bottom" data-original-title="{{labels.dialogChangeObjectTab1.id}}">
       		   	 <i class="fas fa-id-card"></i></span></div>   
	                 <input id="object-id" name="object_id" class="form-control" maxlength="50"	 placeholder="{{labels.dialogChangeObjectTab1.id}}" 				
			  			 style="height: calc(1.55rem + 15px); font-size: 1rem; padding-left: 0.5rem;" readonly>
  	            </div>		
              </div>		               
		</div>		
       <div class="row">
		   <div class="col-sm-4 text-left"  style="padding-top: 0.3rem;"><label for="fio" class="col-form-label font-weight-normal w-100 ">{{labels.dialogChangeObjectTab1.searchCode}}</label></div>
		   <div class="col-sm">
		        <div class="input-group mb-3" style="margin-bottom:0.5rem!important;">
                 <div class="input-group-prepend"><span class="input-group-text" data-toggle="tooltip" data-placement="bottom" data-original-title="{{labels.dialogChangeObjectTab1.searchCode}}">
       		   	 <i class="fas fa-ad"></i></span></div>   
	                 <input id="object-search-code" name="object_search_code" class="form-control" maxlength="50"	 placeholder="{{labels.dialogChangeObjectTab1.searchCode}}" 				
			  		 style="height: calc(1.55rem + 15px); font-size: 1rem; padding-left: 0.5rem;" readonly>             	  	               	  	  
  	            </div>		
              </div>		               
		</div>		
       <div class="row">
   		   <div class="col-sm-4 text-left"   style="padding-top: 0.3rem;"><label for="fio" class="col-form-label font-weight-normal w-100 ">{{labels.dialogChangeObjectTab1.name}}</label></div>
		   <div class="col-sm">
		        <div class="input-group mb-3" style="margin-bottom:0.5rem!important;">
                    <div class="input-group-prepend"><span class="input-group-text" data-toggle="tooltip" data-placement="bottom" data-original-title="{{labels.dialogChangeObjectTab1.name}}">
       	  			<i class="fas fa-ad"></i></span></div>  
		               <input id="object-name" name="object_name" class="form-control" maxlength="50" placeholder="{{labels.dialogChangeObjectTab1.name}}" 				
					   style="height: calc(1.55rem + 15px); font-size: 1rem; padding-left: 0.5rem;">             	  	               	  	  
  	            </div>		
              </div>		               
		</div>		


       <div class="row">
  		   <div class="col-sm-4 text-left"  style="padding-top: 0.3rem;">	<label for="fio" class="col-form-label font-weight-normal w-100 ">{{labels.dialogChangeObjectTab1.address}}</label></div>
		   <div class="col-sm">
		        <div class="input-group mb-3" style="margin-bottom:0.5rem!important;">
                    <div class="input-group-prepend"><span class="input-group-text" data-toggle="tooltip" data-placement="bottom" data-original-title="{{labels.dialogChangeObjectTab1.address}}">
       	  			<i class="fas fa-address-card"></i></span></div>  
					<input id="object-address" name="object_address"   type="text" class="form-control pac-target-input" placeholder="Address" style="height: calc(1.55rem + 15px); font-size: 1rem; padding-left: 0.5rem;"  autocomplete="off">
					<a class="btn btn-app" id='search-object-geocoder-location-btn' name='search_object_geocoder_location_btn' style="left:-1px; height: 40px; padding: 10px 5px; margin:0;  min-width: 0;"
						data-toggle="tooltip" data-placement="{{tooltip.TIP_OBJECT_SEARCH_ADDRESS.data-placement}}" 
						data-original-title="{{tooltip.TIP_OBJECT_SEARCH_ADDRESS.title}}""><i class="fas fa-play" style="font-size: 10px; padding-top: 4px;"></i></a>   
  	            </div>		
              </div>		               
		</div>		
       <div class="row">
		   <div class="col-sm-4 text-left"   style="padding-top: 0.3rem;"><label for="fio" class="col-form-label font-weight-normal w-100 ">{{labels.dialogChangeObjectTab1.cloud_address}}</label></div>
		   <div class="col-sm">
		        <div class="input-group mb-3" style="margin-bottom:0.5rem!important;">
                    <div class="input-group-prepend"><span class="input-group-text" data-toggle="tooltip" data-placement="bottom" data-original-title="{{labels.dialogChangeObjectTab1.cloud_address}}">
       	  			<i class="far fa-address-card"></i></span></div>  
		 			<textarea  id="object-cloud-address" name="object_cloud_address" class="form-control" rows="3" placeholder="Enter {{labels.dialogChangeObjectTab1.description}}..." 
				  	  style="height: calc(1.55rem + 3*15px); font-size: 1rem; padding-left: 0.5rem;" readonly></textarea>
  	            </div>		
              </div>		               
		</div>		


       <div class="row">
   		   <div class="col-sm-4 text-left"  style="padding-top: 0.3rem;"><label for="fio" class="col-form-label font-weight-normal w-100 ">{{labels.dialogChangeObjectTab1.category_id}}</label></div>
		   <div class="col-sm">
		        <div class="input-group mb-3" style="margin-bottom:0.5rem!important;">
                    <div class="input-group-prepend"><span class="input-group-text" data-toggle="tooltip" data-placement="bottom" data-original-title="{{labels.dialogChangeObjectTab1.category_id}}">
       	  			<i class="fas fa-terminal"></i></span></div>  
				<select class="form-control" id="object-category-id" name="object_category_id" maxlength="50" 
                	                placeholder="Категория обьекта" 
					style="height: calc(1.55rem + 15px); font-size: 1rem; padding-left: 0.5rem;">
				 </select>
  	            </div>		
              </div>		               
	</div>		

       <div class="row">
   		   <div class="col-sm-4 text-left"  style="padding-top: 0.3rem;"><label for="fio" class="col-form-label font-weight-normal w-100 ">{{labels.dialogChangeObjectTab1.organization}}</label></div>
		   <div class="col-sm">
		        <div class="input-group mb-3" style="margin-bottom:0.5rem!important;">
                    <div class="input-group-prepend"><span class="input-group-text" data-toggle="tooltip" data-placement="bottom" data-original-title="{{labels.dialogChangeObjectTab1.organization}}">
       	  			<i class="fas fa-campground"></i></span></div>  

				<select class="form-control" id="service-organization-id" name="service_organization_id" maxlength="50" 
                	                placeholder="Сервисная организация" 
					style="height: calc(1.55rem + 15px); font-size: 1rem; padding-left: 0.5rem;">
				 </select>


			        <button type="button" class="btn btn-tool object-organization-id-input-clear-btn">
				        <i class="fas fa-times"></i>
	 		      </button>

  	            </div>		
              </div>		               
		</div>		
       <div class="row">
		   <div class="col-sm-4 text-left"  style="padding-top: 0.3rem;"><label for="fio" class="col-form-label font-weight-normal w-100 ">{{labels.dialogChangeObjectTab1.group}}</label></div>
		   <div class="col-sm">
		        <div class="input-group mb-3" style="margin-bottom:0.5rem!important;">
                  <div class="input-group-prepend"><span class="input-group-text" data-toggle="tooltip" data-placement="bottom" data-original-title="{{labels.dialogChangeObjectTab1.group}}">
				 <i class="fas fa-user-friends"></i></span></div>  

			<select class="form-control" id="service-group-id" name="service_group_id" 
				class="form-control" maxlength="50" 
                                placeholder="Обслуживающая группа сервисной организации" 
				style="height: calc(1.55rem + 15px); font-size: 1rem; padding-left: 0.5rem;">
			 </select>

			        <button type="button" class="btn btn-tool object-group-id-input-clear-btn">
				        <i class="fas fa-times"></i>
	 		      </button>

  	            </div>		
              </div>		               
		</div>		
       <div class="row">
		   <div class="col-sm-4 text-left" style="padding-top: 0.3rem;"><label for="fio" class="col-form-label font-weight-normal w-100 ">{{labels.dialogChangeObjectTab1.latitude}}/{{labels.dialogChangeObjectTab1.longitude}}</label></div>
		   <div class="col-sm" style="padding-right: 0px;">
		        <div class="input-group mb-3" style="margin-bottom:0.5rem!important;">
                             <div class="input-group-prepend"><span class="input-group-text" data-toggle="tooltip" data-placement="bottom" data-original-title="{{labels.dialogChangeObjectTab1.latitude}}">
       	  			<i class="fas fa-map-marker-alt"></i></span>
                             </div>  
		               <input id="object-latitude" name="object_latitude" class="form-control" maxlength="50" placeholder="{{labels.dialogChangeObjectTab1.latitude}}" style="height: calc(1.55rem + 15px); font-size: 1rem; padding-left: 0.5rem;">             	  	               	  	  
  	                </div>		
                  </div>		

                   <div class="col-sm" style="padding-left: 0px; margin-left: 0.3rem;">
		        <div class="input-group mb-3" style="margin-bottom:0.5rem!important;">
		               <input id="object-longitude" name="object_longitude" class="form-control" maxlength="50"	 placeholder="{{labels.dialogChangeObjectTab1.longitude}}" style="height: calc(1.55rem + 15px); font-size: 1rem; padding-left: 0.5rem;">             	  	               	  	  
   	               </div>		
                   </div>
               
		</div>		

          <div class="row geozone-type-select-poligon">
 	 	  <div class="col-sm-4 text-left"  style="padding-top: 0.3rem;">
			<label for="fio" class="col-form-label font-weight-normal w-100 ">Тип геозоны обьекта</label>
		  </div>
		 <div class="col-sm text-left">
		    <div class="form-group">
                        <select id="object-geozone-type-selector" name="object_geozone_type_selector"  class="form-control" style="height: calc(1.55rem + 15px);font-size: 1rem; padding-left: 0.5rem;" >
                            <option value="GEOZONE_DEFAULT_RADIUS_TYPE">Окружная геозона с стандартным радиусом (по умполчанию)</option>
                            <option value="GEOZONE_CUSTOM_RADIUS_TYPE">Окружная геозона с производным радиусом</option>
                            <option value="GEOZONE_CUSTOM_POLIGON_TYPE">Геозона- полигон</option>
                        </select>
                      </div>
        	  </div>
          </div>
          <div class="row GEOZONE_DEFAULT_RADIUS_TYPE GEOZONE_TYPE_SWITCHER">
		  <div class="col-sm-4 text-left"  style="padding-top: 0.3rem;"><label for="fio" class="col-form-label font-weight-normal w-100 ">Радиус (метров)</label></div>
                    <div class="col-sm">
	 	      <div class="input-group-prepend">
                         <input id="geozone-default-radius-type" name="geozone_default_radius_type" type="text" name="geozone-default-radius-type" value="300" readonly class="form-control"
		                style="height: calc(1.55rem + 15px); font-size: 1rem; padding-left: 0.5rem; width: 5rem; text-align: right;">
                     </div>
                </div>
          </div>

          <div class="row GEOZONE_CUSTOM_RADIUS_TYPE GEOZONE_TYPE_SWITCHER">
		  <div class="col-sm-4 text-left"  style="padding-top: 0.3rem;"><label for="fio" class="col-form-label font-weight-normal w-100 ">Радиус (метров)</label></div>
                  <div class="col-sm" style="padding-top: 1rem; padding-bottom: 1rem;">
                       <input id="geozone-custom-radius-type" name="geozone_custom_radius_type" class="form-control" type="text" value="300" >
                       <input id="geozone-default-radius-value" name="geozone_default_radius_value" class="form-control" type="hidden" value="300" >
                  </div>
          </div>
 
         <div class="row GEOZONE_CUSTOM_POLIGON_TYPE GEOZONE_TYPE_SWITCHER" >
		  <div class="col-sm-4 text-left"  style="padding-top: 0.3rem;"><label for="fio" class="col-form-label font-weight-normal w-100 ">Имя геозоны</label></div>
                   <div class="col-sm">
			<select class="form-control" id="geozone-custom-polion-name" name="geozone_id" 
				maxlength="50" 
                                placeholder="Введите имя геозоны" 
				style="height: calc(1.55rem + 15px); font-size: 1rem; padding-left: 0.5rem;">
			 </select>
                  </div>
         </div>
	
         <div class="row">
			<div class="col-sm-4 text-left"  style="padding-top: 0.6rem;"><label for="blocked" class="col-form-label font-weight-normal w-100">{{labels.dialogChangeObjectTab1.blocked}}</label></div>
			<div class="col-sm">
	            	  <div class="input-group mb-3">
			      <div class="input-group-prepend">
			       <input id="object-blocked" name="object_blocked"  class="form-control" type="checkbox" style="width: 1rem; height: 1rem; margin-top: 1rem;"  >
			     </div>
			  </div>
 	               </div>
          </div>

        </div>
    </div>
