<div class="row">
  <div class="w-100">
       <div class="row">
	     <div class="col-sm">
	            <div class="input-group mb-3">
			<label for="fio" class="col-form-label font-weight-normal w-100 font-weight-bold">{{labels.dialogChangeObjectTab1.description}}</label></br>
  	   	  	  <textarea id="object-description" name="object_description" class="form-control" rows="5" placeholder="Enter {{labels.dialogChangeObjectTab1.description}}..." 
		  	  style="height: calc(1.55rem + 10*15px); font-size: 1rem; padding-left: 0.5rem;"></textarea>
  	            </div>		
              </div>		               
	</div>		
       <div class="row">
   		   <div class="col-sm-4 text-left"  style="padding-top: 0.3rem;"><label for="fio" class="col-form-label font-weight-normal w-100 ">{{labels.dialogChangeObjectTab1.serial_number}}</label></div>
		   <div class="col-sm">
		        <div class="input-group mb-3" style="margin-bottom:0.5rem!important;">
                    <div class="input-group-prepend"><span class="input-group-text" data-toggle="tooltip" data-placement="bottom" data-original-title="{{labels.dialogChangeObjectTab1.serial_number}}">
       	  			<i class="fas fa-barcode"></i></span></div>  
			        <input id="object-serial-number" name="object_serial_number"  class="form-control" maxlength="50"
				 placeholder="{{labels.dialogChangeObjectTab1.serial_number}}" style="height: calc(1.55rem + 15px); font-size: 1rem; padding-left: 0.5rem;">             	  	               	  	  
  	            </div>		
              </div>		               
	</div>		
         <div class="row">
			<div class="col-sm-4 text-left"  style="padding-top: 0.6rem;"><label for="blocked" class="col-form-label font-weight-normal w-100">{{labels.dialogChangeObjectTab1.object_change_blocked}}</label></div>
			<div class="col-sm">
	            	  <div class="input-group mb-3">
			      <div class="input-group-prepend">
			       <input id="object-change-blocked" name="object_change_blocked"  class="form-control" type="checkbox" style="width: 1rem; height: 1rem; margin-top: 1rem;"  >
			     </div>
			  </div>
 	               </div>
			<div class="col-sm-4 text-left"  style="padding-top: 0.6rem;"><label for="blocked" class="col-form-label font-weight-normal w-100">{{labels.dialogChangeObjectTab1.object_address_reseach_blocked}}</label></div>
			<div class="col-sm">
	            	  <div class="input-group mb-3">
			      <div class="input-group-prepend">
			       <input id="object-address-reseach-blocked" name="object_address_reseach_blocked"  class="form-control" type="checkbox" style="width: 1rem; height: 1rem; margin-top: 1rem;"  >
			     </div>
			  </div>
 	               </div>

          </div>
  <hr>
	<div class="callout callout-info">
		<p>{{labels.dialogChangeObjectTab1.object_change_blocked_description}}</p>
		<p>{{labels.dialogChangeObjectTab1.object_address_reseach_blocked_description}}</p>
		<small>{{labels.dialogChangeObjectTab1.object_address_reseach_blocked_title}}</small>
	</div>

   </div>
</div>

