<div class="shop_about_page w-100">
	<div class="shop_title">{{shop.name}}</div>
	<section>
		<center>
		    <div class="shop-contact-phone"><i class="fa fa-phone"></i> {{shop.phone}} </div>
		   <hr>
		</center>
        </section>
	<div class="shop_phone_title" style="display:none;">
		<center>
    	           <button class="btn btn-lg btn-{{shop.theme}}">
			<i class="fa fa-phone"></i>
			<span class="btn-{{shop.theme}}"> Телефон для связи {{shop.phone}} </a></button>
		   <hr>
		</center>
        </div>

	<div class="shop_description"></div>
{{#ifEquals shop.map_view true }}
        <div class="row">
           <div class="col w-100"><h2><i class="fa fa-map"></i> На карте</h2></div> 
        </div>
	<div class="shop_map">
                  <div id="map" style="width: 100%; height : 20rem;"></div>
	</div>
{{/ifEquals}}
</div>
<script src="https://api-maps.yandex.ru/2.1/?apikey=c48a7971-5a48-47fa-a4f4-6784e9a23beb&lang=ru_RU" type="text/javascript"></script>
<script src="/main/pages/telegram/jobs/js/shop_about.js"></script>