 <div class="card  w-100" style="margin: 0.8rem; padding: 1rem;">
	<div class="row">
		  <div class="col w-100 text-left" ><h3>Ваши данные, как заказчика</h3></div> 
	</div>
	<div class="row input-group">
		  <div class="col-1 delivery_firstname" ><i class="fa fa-user"></i></div> 
  	   	  <div class="col delivery_firstname" style="margin-bottom: 0.5rem!important;">
		  	<input id ="user_delivery_name"  class="form-control" 
			placeholder="Имя заказчика" value="{{user.user_delivery_name}}"></input>
		 </div>
	</div>	
	<div class="row input-group">
		<div class="col-1 delivery_phone" ><i class="fa fa-phone"></i></div>
  	  	 <div class="col delivery_phone" style="margin-bottom: 0.5rem!important;">
			<input id ="user_delivery_phone" class="form-control" placeholder="Телефонный номер заказчика" 
			 value="{{user.user_delivery_phone}}"></input>
		</div>
	</div>	
	<div class="row input-group">
		 <div class="col-1 delivery_address"><i class="fa fa-map"></i></div> 
                 <div class="col delivery_address" style="margin-bottom: 0.5rem!important;">
			<textarea id="user_delivery_address" rows=3 class="form-control" style="background-color: white;"
			placeholder="Адрес заказчика "
			>{{user.address}}</textarea>
		</div>
	</div>	

	<div class="row other_user_delivery">
		  <div class="col w-100 text-left" ><h3>Имя и телефон получателя (укажите если это будете не вы, а другой человек)</h3></div> 
	</div>
	<div class="row input-group other_user_delivery">
		  <div class="col-1 delivery_firstname" ><i class="fa fa-user"></i></div> 
  	   	  <div class="col delivery_firstname" style="margin-bottom: 0.5rem!important;">
		  	<input id ="user_recipient_name"  class="form-control" 
			placeholder="Имя получателя заказа" value="{{user.user_delivery_name}}"></input>
		 </div>
	</div>	
	<div class="row input-group other_user_delivery">
		<div class="col-1 delivery_phone" ><i class="fa fa-phone"></i></div>
  	  	 <div class="col delivery_phone" style="margin-bottom: 0.5rem!important;">
			<input id ="user_recipient_phone" class="form-control" placeholder="Телефонный номер получателя заказа" 
			 value="{{user.user_delivery_phone}}"></input>
		</div>
	</div>	
	<div class="row input-group other_user_delivery">
		 <div class="col-1 delivery_address"><i class="fa fa-map"></i></div> 
                 <div class="col delivery_address" style="margin-bottom: 0.5rem!important;">
			<textarea id="user_recipient_address" rows=3 class="form-control" style="background-color: white;"
			placeholder="Адрес для доставки заказа"
			>{{user.address}}</textarea>
		</div>
	</div>	
	<div class="row">
		  <div class="col w-100 text-left" ><h3>Сообщение к заказу</h3></div> 
	</div>
	<div class="row input-group">
                 <div class="col delivery_address" style="margin-bottom: 0.5rem!important;">
			<textarea id="order_message" rows=3 class="form-control" style="background-color: white;" maxlength='150'
			placeholder="Дополнительное сообщение (макс. 150 символов)"
			>{{user.order_message}}</textarea>
		</div>
	</div>	



 </div>	
