  <nav class="mt-2">
     <div class="row" style="margin-bottom: 1rem;">
      <div class="col-sm-3" >	
	      <img id="profile-user-photo-image" name="profile_user_photo_image" src="{{ local_user_image }}" 
		class="img-circle elevation-2 image-thumbnail-logged-user" alt="{{ local_user_image_text }}"
		style="width: 3rem;  cursor: pointer;  height: 3rem">
	      <span class="right badge badge-online badge-online-indicator badge-profile" rel="badge-online-indicator" profile="{{userId}}" alt="Online">&nbsp;</span>
       </div>
         <div class="col-sm-8" >	
	   <ul class="nav nav-user nav-sidebar flex-column" data-widget="treeview1" role="menu" data-accordion="false">
	    <li class="nav-item-redirect">
	      <a href="/profile/{{userId}}" 
		id='username-profile-url' name='username_profile_url' 
		class="nav-link d-block" rel="profile" flux="true" flux-event-name="portal-article-click" 
		flux-event-code="profile" style="cursor:pointer;padding: 0.2rem 1rem 0.6rem 0.1rem;">
		<div style="padding: 0.3rem;">
		 <p class="fio-title" rel="{{userId}}" style="color:#fff; padding: 0 2rem 0 0rem; white-space: break-spaces;">{{ username }}</p>
		</div>
	       </a>
	     </li>
	    </ul>
         </div>
       </div>
  </nav>


