          <div class="card"  >
              <div class="card-header">
                <h3 class="card-title">Доступ к ролям</h3>
                <div class="clearfix profile-access-roles-navigation" ></div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered profile-access-roles shadow">
                  <thead>
                    <tr>
                      <th style="width: 10px; vertical-align: middle;">#</th>
                      <th>Организация<br><br><select class="group-access-roles-names-filter form-control"  style="height: 2rem;"><option selected></option></select></th>
                      <th style="width: 40px">#</th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix profile-access-roles-navigation" ></div>

  <hr>
	<div class="callout callout-info">
		<p><b>{{labels.dialogChangeRolesTab.object_roles_description}}</b></br></br></p>
		<p style='width: 85%;'>{{labels.dialogChangeRolesTab.object_roles_analyst}}</p>
		<p style='width: 85%;'>{{labels.dialogChangeRolesTab.object_roles_coordinator}}</p>
		<p style='width: 85%;'>{{labels.dialogChangeRolesTab.object_roles_manager}}</p>
		<p style='width: 85%;'>{{labels.dialogChangeRolesTab.object_roles_security}}</p>
		<p style='width: 85%;'></br>{{labels.dialogChangeRolesTab.object_roles_title}}</p>

	</div>

            </div>