<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate" />
   <meta http-equiv="pragma" content="no-cache" />

   <title>PickMax.Ru - товары для дома!</title>
    <link rel="icon" type="image/png" href="/public/images/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/public/images/favicon.svg" />
    <link rel="shortcut icon" href="/public/images/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/apple-touch-icon.png" />
    <link rel="manifest" href="/public/images/site.webmanifest" />

   <link href="/src/pages/css/variables.css" rel="stylesheet" />
   <link href="/src/pages/css/fonts.css" rel="stylesheet">
   <link rel="stylesheet" href="/src/pages/plugins/fontawesome-free/css/all.min.css"> <!-- Font Awesome -->
   <link type="text/css" href="/src/pages/plugins/jquery-ui-1.10.4/themes/base/jquery-ui.css" rel="stylesheet" />

   <script src="/src/pages/plugins/jquery-ui-1.10.4/jquery-1.10.2.js"></script>
   <script src="/src/pages/plugins/jquery-ui-1.10.4/ui/jquery-ui.js"></script>
   <script src="/src/pages/plugins/jquery-ui-1.10.4/ui/jquery.ui.button.js"></script>
   <script src="/src/pages/plugins/jquery-ui-1.10.4/ui/jquery.ui.tabs.js"></script>
   <script src="/src/pages/plugins/jquery-ui-1.10.4/ui/jquery.ui.widget.js"></script>
  <!-- Theme style -->
   <link rel="stylesheet" href="/src/pages/plugins/adminlte/css/adminlte.min.css">
  <!-- overlayScrollbars -->
   <link rel="stylesheet" href="/src/pages/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
   <link rel="stylesheet" href="/src/pages/css/icheck-bootstrap.css">
<!-- Fotorama from CDNJS, 19 KB -->
   <link href="/src/pages/js/fotorama/4.6.4/fotorama.css" rel="stylesheet">
   <script src="/src/pages/js/fotorama/4.6.4/fotorama.dev.js"></script>

   <script src="/src/pages/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
   <link  href="/src/pages/plugins/lightbox/css/lightbox.css" rel="stylesheet" />
   <script src="/src/pages/plugins/lightbox/js/lightbox.js"></script>

   <script src="/src/pages/plugins/inputmask/jquery.inputmask.js"></script>
   <script src="/src/pages/plugins/adminlte/js/adminlte.js"></script>
   <script src="/src/pages/js/functions.js"></script>
   <script src="/src/pages/js/jquery.inputmask/5.0.8/jquery.inputmask.min.js"></script>
   <script src="/src/services/webapi.js"></script> 
   <script src="/src/services/common.js"></script>

   <script src="/src/components/widgets/ListComponent.js"></script>
   <script src="/src/components/widgets/ShopImageGallery.js"></script> 
   <script src="/src/components/widgets/ShopCardMediaGallery.js"></script> 
   <script src="/src/components/widgets/CustomElementFactory.js"></script> 
   <script src="/src/MainApp.js"></script> 

   <script src="/src/pages/js/jquery.iframe-transport.js"></script>
   <script src="/src/pages/js/fileupload/jquery.fileupload.js"></script>
   <script src="/src/pages/js/ui/ui.uploadFile.js"></script>

   <script src="/src/pages/plugins/tinymce/tinymce.min.js" referrerpolicy="origin"></script>

   <link type="text/css" href="/src/components/ui/toastr/css/toastr.css" rel="stylesheet" />
   <script src="/src/components/ui/toastr/toastr.js"></script>

   <script src="/src/services/request.js"></script>

   <script src="/src/store/models/tg_user.js"></script> 
   <script src="/src/store/models/tg_current_user.js"></script> 
   <script src="/src/store/models/tg_shop.js"></script> 
   <script src="/src/store/models/tg_current_shop.js"></script> 

   <script src="/src/shop.js"></script>


   <script src="/src/store/models/OrderDto.js"></script>



</head>
<style>
body{
 margin: auto;
 line-height: inherit;
 height : var(--tg-viewport-stable-height);
 display: flex;
 color: var(--tg-theme-text-color);
 flex-direction: column;
}
</style>
<body class="{{service}}">
<nav>
 <script src="/src/utils/redirect.js"></script>
 <link type="text/css" href="/src/pages/css/shop_card_red.css" rel="stylesheet" />
 <link type="text/css" href="/src/pages/css/sidebar.css" rel="stylesheet" />
 <link type="text/css" href="/src/pages/css/buttons.css" rel="stylesheet" />
 <link type="text/css" href="/src/pages/css/messages.css" rel="stylesheet" />
 <link type="text/css" href="/src/pages/css/badges.css" rel="stylesheet" />
 <link type="text/css" href="/src/pages/css/statuses.css" rel="stylesheet" />
 <link type="text/css" href="/src/pages/css/cards2.css" rel="stylesheet" />
 <link type="text/css" href="/src/pages/css/cards.css" rel="stylesheet" />
 <link type="text/css" href="/src/pages/css/gallery.css" rel="stylesheet" />
 <link type="text/css" href="/src/pages/css/card_media_gallery.css" rel="stylesheet" />
 <link type="text/css" href="/src/components/ui/product-card/css/product-card.css" rel="stylesheet" />
 <link rel="stylesheet" href="/src/components/ui/basket-button/css/basket-button.css">
 <link rel="stylesheet" href="/src/components/ui/dropdown-section/dropdown-section.css"  />

<top-header></top-header>

<script>
    tinymce.init({
      selector: '.editor-textarea',
      plugins: 'textcolor emoticons link image table',
      menubar: false, 
      mobile: {
        menubar: false
       },
      toolbar:[ 'forecolor backcolor bold italic underline strikethrough image emoticons  align lineheight table | blocks fontfamily fontsize | checklist numlist bullist indent outdent |'],
  setup: function(editor) {
   	  editor.on('init', function () {
		      // Устанавливаем размер шрифта
		      editor.getBody().style.fontSize = '0.8rem'; // Замените на нужный размер шрифта
	    });
          editor.on('PostRender', function() {
            var footer = document.querySelector('.tox-statusbar');
            if (footer) {
              footer.style.display = 'none';
            }
          })
	}
    });

</script>

<div class="main" service={{service}}>
    {{#ifEquals service "products"}}
           {{>products}}
    {{else ifEquals service "orders"}}
           {{>orders}}
    {{else ifEquals service "order-create-error"}}
           {{>order_create_error}}
    {{else ifEquals service "order-delivery-error"}}
           {{>order_delivery_error}}
    {{else ifEquals service "order-delivery"}}
           {{>order_delivery}}
    {{else ifEquals service "basket"}}
           {{>basket}}
    {{else ifEquals service "profile"}}
           {{>profile}}
    {{else ifEquals service "payment"}}
           {{>payment}}
    {{else ifEquals service "payment-success"}}
           {{>payment_success}}
    {{else ifEquals service "payment-failed"}}
           {{>payment_failed}}
    {{else ifEquals service "availability-error"}}
           {{>order_availability_error}}

    {{/ifEquals}}              
 </div>
</nav>

  <mobile-navbar>
    <mobile-navbar-item 
      label="Товары" 
      icon="fa-box" 
      url="/products/page">
    </mobile-navbar-item>
    <mobile-navbar-item 
      label="Заказы" 
      icon="fa-shopping-cart" 
      url="/orders/page">
    </mobile-navbar-item>
    <mobile-navbar-item 
      label="Корзина" 
      icon="fa-cart-plus" 
      url="/basket/page">
    </mobile-navbar-item>
    <mobile-navbar-item 
      label="Профиль" 
      icon="fa-user" 
      url="/profile/page">
    </mobile-navbar-item>
  </mobile-navbar>
   <div class="footer fixed-bottom"></div>
</body>


 <script src="/src/components/ui/mobile-navbar/mobile-navbar.js"></script>
 <script src="/src/components/ui/product-card/product-card.js"></script>
 <link rel="stylesheet" href="/src/components/ui/basket-button/css/basket-button.css">                           

  <script src="/src/components/ui/basket-button/basket-button.js"></script>

</html>