<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate" />
   <meta http-equiv="pragma" content="no-cache" />

   <title>{{shop.name}}</title>
   <script>
     const shopId = "{{shop.id}}";
   </script>
   <link href="/main/css/fonts.css" rel="stylesheet">
   <link rel="stylesheet" href="/main/plugins/fontawesome-free/css/all.min.css"> <!-- Font Awesome -->
   <script src="/main/js/telegram-web-app.js"></script> <!--Подключаем скрипт Web App telegram API -->

   <link type="text/css" href="/main/plugins/jquery-ui-1.10.4/themes/base/jquery-ui.css" rel="stylesheet" />
   <script src="/main/plugins/jquery-ui-1.10.4/jquery-1.10.2.js"></script>
   <script src="/main/plugins/jquery-ui-1.10.4/ui/jquery-ui.js"></script>
   <script src="/main/plugins/jquery-ui-1.10.4/ui/jquery.ui.button.js"></script>
   <script src="/main/plugins/jquery-ui-1.10.4/ui/jquery.ui.tabs.js"></script>
   <script src="/main/plugins/jquery-ui-1.10.4/ui/jquery.ui.widget.js"></script>
  <!-- Theme style -->
   <link rel="stylesheet" href="/main/dist/css/adminlte.min.css">
  <!-- overlayScrollbars -->
   <link rel="stylesheet" href="/main/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
   <link rel="stylesheet" href="/main/css/icheck-bootstrap.css">
<!-- Fotorama from CDNJS, 19 KB -->
   <link href="/main/js/fotorama/4.6.4/fotorama.css" rel="stylesheet">
   <script src="/main/js/fotorama/4.6.4/fotorama.dev.js"></script>

   <script src="/main/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
   <link href="/main/js/ui/lightbox/css/lightbox.css" rel="stylesheet" />
   <script src="/main/plugins/inputmask/jquery.inputmask.js"></script>
   <script src="/main/js/ui/lightbox/js/lightbox.js"></script>
   <script src="/main/dist/js/adminlte.js"></script>
   <script src="/main/js/functions.js"></script>
   <script src="/main/js/jquery.inputmask/5.0.8/jquery.inputmask.min.js"></script>

   <script src="/main/pages/telegram/jobs/js/webapi.js"></script> 
   <script src="/main/pages/telegram/jobs/js/components/ListComponent.js"></script>
   <script src="/main/pages/telegram/jobs/js/components/ShopImageGallery.js"></script> 
   <script src="/main/pages/telegram/jobs/js/components/ShopCardMediaGallery.js"></script> 

   <script src="/main/js/jquery.iframe-transport.js"></script>
   <script src="/main/js/fileupload/jquery.fileupload.js"></script>
   <script src="/main/js/ui/ui.uploadFile.js"></script>
   <script src="/main/js/editors/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
   <link type="text/css" href="/main/css/toastr.css" rel="stylesheet" />
   <script src="/main/js/toastr.js"></script>

   <script src="/main/pages/telegram/jobs/js/redirect.js"></script>
   <link type="text/css" href="/main/pages/telegram/jobs/css/shop_card_blue.css" rel="stylesheet" />
   <link type="text/css" href="/main/pages/telegram/jobs/css/sidebar.css" rel="stylesheet" />
   <link type="text/css" href="/main/pages/telegram/jobs/css/buttons.css" rel="stylesheet" />
   <link type="text/css" href="/main/pages/telegram/jobs/css/messages.css" rel="stylesheet" />
   <link type="text/css" href="/main/pages/telegram/jobs/css/badges.css" rel="stylesheet" />
   <link type="text/css" href="/main/pages/telegram/jobs/css/statuses.css" rel="stylesheet" />
   <link type="text/css" href="/main/pages/telegram/jobs/css/cards{{shop.columns}}.css" rel="stylesheet" />
   <link type="text/css" href="/main/pages/telegram/jobs/css/pult.css" rel="stylesheet" />
   <link type="text/css" href="/main/pages/telegram/jobs/css/gallery.css" rel="stylesheet" />
   <link type="text/css" href="/main/pages/telegram/jobs/css/card_media_gallery.css" rel="stylesheet" />
   <link type="text/css" href="/main/pages/telegram/jobs/css/custom_elements.css" rel="stylesheet" />
</head>
<style>
body{
 margin: auto;
 line-height: inherit;
 height : var(--tg-viewport-stable-height);
 display: flex;
 color: var(--tg-theme-text-color);
 flex-direction: column;
}
</style>
<body class="{{service}}">
<div class="shop pult">
   <div class="row">
      <div class="col w-100">
        <div class="pult_about">
		<div class="current-page text-left" rel="about">
			<img src='/main/pages/telegram/jobs/images/openfsm_logo.png' 
			class="pult_about_logo">
		</div>
	</div>
  	<input type="hidden" id ="shop_id"  value="{{shop.id}}">
	<input type="hidden" id ="category_id"  value="{{shop.category_id}}">
	<input type="hidden" id ="shop_title"  value="{{shop.name}}">
	<input type="hidden" id ="shop_address"  value="{{shop.address}}">
	<input type="hidden" id ="longitude" class="shop_address_longitude" value="{{shop.longitude}}">
	<input type="hidden" id ="latitude" class ="shop_address_latitude" value="{{shop.latitude}}">

	<input type="hidden" id="user_id">
	<input type="hidden" id="first_name">
	<input type="hidden" id="last_name">
	<input type="hidden" id="username"> 
    </div>
  </div>
 </div>
 <div class="main">
        {{#ifEquals service "pult"}}
           {{>shop_pult}} 
        {{/ifEquals}}              
 </div>
 <div class="footer fixed-bottom">{{version}}</div>
</body>
  <script src="/main/js/model/tg_user.js"></script> 
  <script src="/main/js/model/tg_current_user.js"></script> 
  <script src="/main/js/model/tg_shop.js"></script> 
  <script src="/main/js/model/tg_current_shop.js"></script> 

  <script src="/main/pages/telegram/jobs/js/components/request.js"></script>
  <script src="/main/pages/telegram/jobs/js/components/PultPageComponent.js"></script>
  <script src="/main/pages/telegram/jobs/js/components/PultShopPageComponent.js"></script>
  <script src="/main/pages/telegram/jobs/js/components/PultServicePageComponent.js"></script>
  <script src="/main/pages/telegram/jobs/js/components/PultAdsPageComponent.js"></script>
  <script src="/main/pages/telegram/jobs/js/components/PultJobPageComponent.js"></script>
  <script src="/main/pages/telegram/jobs/js/components/PultProfilePageComponent.js"></script>
  <script src="/main/pages/telegram/jobs/js/components/CountrySelectComponent.js"></script>
  <script src="/main/pages/telegram/jobs/js/components/PultContactsPageComponent.js"></script>
  <script src="/main/pages/telegram/jobs/js/components/ActionButtonComponent.js"></script>
  <script src="/main/pages/telegram/jobs/js/components/EditableSelect.js"></script>
  <script src="/main/pages/telegram/jobs/js/components/AutoComplete.js"></script>
  <script src="/main/pages/telegram/jobs/js/components/LinkComponent.js"></script>

  <link href="/main/pages/telegram/jobs/css/x-element-contact-form-component.css" rel="stylesheet" />
  <script src="/main/pages/telegram/jobs/js/components/TelegramContactFormComponent.js"></script>


  <script src="/main/pages/telegram/jobs/js/pult.js"></script>

<!-- Yandex.Metrika counter -->
{{#ifEquals  contour "production"}}
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(97205341, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/97205341" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
{{/ifEquals}}              
<!-- /Yandex.Metrika counter -->

</html>

